<!DOCTYPE html>
<head>
    <title>{% block title %}Alcohol licenses in Finland{% endblock %}</title>
    <link rel="stylesheet" href="//unpkg.com/primitive-ui/dist/css/main.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <style>
        body {
            margin-left:30px;
            margin-right:30px;
        }
    </style>
</head>
<body>

{% block body %}{% endblock %}

</body>
</html>